{{/*
  Copyright 2018 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for testing the game sounds and the LEDs and PLC connected to the field.
*/}}
{{define "title"}}Monitor{{end}}
{{define "body"}}
  <div class="well">      
    <legend>Devices Monitor</legend>
      <div class="row" id="monitor">
       
      </div>
    </div>
{{end}}
{{define "script"}}
<script src="/static/js/setup_monitor.js"></script>
<link rel="stylesheet" href="/static/css/setup_monitor.css" />
{{end}}
